---
---
{% include header.html %}
{% include subheader.html %}
<div class="container event">
<h2>Events</h2>

<div class="feed-box">
<p>
    You can add Python North East events using our calendar feed
</p>
<p>
    <a class="button" href="webcal://{{ 'ical.ics' | absolute_url | replace: "https://", "" | replace: "http://", "" }}">Feed</a>
    <a class="button" href="http://www.google.com/calendar/render?cid={{ 'ical.ics' | absolute_url }}">Add to Google Calendar</a>
</p>
</div>

{% for post in site.posts limit:10 %}
<h3>{{ post.title }}</h3>
<p>{{ post.date | date:"%-d %b %Y" }}</p>
<p>
    <a class="button" href="{{ post.url | relative_url }}">More Details</a>
</p>
{% endfor %}

</div>
{% include footer.html %}
