---
---
{% include header.html %}

<div class="header-container window-height">
	<div class="container">
		<div class="header">
			<h1>
				<img title="Python North East" src="{{ "/assets/logo.png" | relative_url }}" />
			</h1>
			<p>{{ site.data.site.tagline }}</p>
		</div>
	</div>
</div>

<div class="about-box">
	<div class="container">
		<h2>Python North East</h2>
		{{ site.data.site.about }}
	</div>
</div>

<div class="next-event box">
	<div class="container">
		{% assign post = site.posts.first %}			
		<div class="box-header">
			<h2>Next Event {{ post.date | date:"%-d %b %Y" }}</h2>
			<h3>{{ post.title }}</h3>
		</div>
		{{ post.excerpt }}
		<p>
			<a class="button" href="{{ post.url | relative_url }}">More Details</a>
		</p>
	</div>
</div>

<div class="map-box">
	{% include map.html %}
	<div class="details">
		<div>
			<h2>Find us at</h2>
			<address>{{ site.data.site.address | join:"<br/>" }}</address>
		</div>
	</div>
</div>

{% include footer.html %}
