<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0" />

  <title>Python North East</title>

  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" />

  <link rel="shortcut icon" href="icon.png" />
  <link rel="apple-touch-icon-precomposed" href="icon.png" />
  <meta name="apple-mobile-web-app-title" content="" />
  <link type="text/plain" rel="author" href="humans.txt" />
</head>
<body>

<div class="subs-header-bg">
    <a href="#subscribe">Subscribe to the mailing list to stay up to date with Python North East</a>
</div>
