---
---
body, html{
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h3, h4, .header{
    font-family: 'Ropa Sans', sans-serif;
}
body{
    font-family: sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 600px;
    &.event{
        padding: 30px 0;
    }
}
.header-container {
    padding: 20px;
    text-align: center;
    background: url('background.jpg') no-repeat;
    position: relative;
    z-index: 9;
    background-size: cover;
    color: #FFF;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
.header h1{
    font-size: 40pt;
    margin-bottom: 5px;
}

.about-box, .next-event{
    text-align: center;
    font-size: 21px;
    line-height: 1.4em;
    padding: 40px 0px;
    h2{
        line-height: 1.4em;
    }
}
.next-event{
    background: #920d1d;
    color: #FFF;
    .button{
        color: #FFF;
        &:hover{
            background: #a73d4a;
        }
    }
}

.event-ticket-bar{
    margin-top: 30px;
}

.button{
    border-radius: 10px;
    padding: 10px;
    color: #920d1d;
    &:hover{
        background: #a73d4a;
        color: #FFF;
    }
}
.center{
    text-align: center;
}

.map-box{
    display: flex;
    iframe{
        width: 75%;
    }
    .details{
        width: 25%;
        background: #F3E3E0;
        padding: 20px;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
        }
        address{
            font-style: normal;
            font-size: 24px;
            line-height: 1.4em;
        }
    }
}

.sign-up-footer{
    background: #001f3f;
    color: #FFF;
    padding: 20px;
    label, input{
        margin-bottom: 10px;
        display: block;
    }
    input[type=email]{
        padding: 3px;
        width: 100%;
        font-size: 25px;
    }
    #mc-embedded-subscribe{
        padding: 10px;
        background: #00366d;
        border-radius: 10px;
        border-width: 0px;
        outline: none;
        color: #FFF;
        font-size: 20px;
        &:hover{
            background: #0055aa;
        }
    }
}

.subs-header-content, .subs-header-bg {
    position: fixed;
    top: 0; left: 0; right: 0;
    color: #FFF;
    padding: 20px;
    text-align: center;
    a{
        color: #FFF;
    }
}
.subs-header-bg{
    background: #001f3f;
    z-index: 2;
}
.subs-header-content{
    z-index: 10;
}

.small-header{
    position: relative;
    z-index: 10;
    background: #001f3f;
    padding-bottom: 10px;
    img{
        max-width: 100px;
    }
    .container{
        display: flex;
        align-items: center;
        a{
            margin-right: 20px;
            color: #EEE;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            &:hover{
                color: #FFF;
                text-decoration: underline;
            }
            &.logo{
                margin-right: 40px;
            }
        }
    }
}
